<div class="container skills-container">
    <h3><b>{{ site.skills_title | default: "Skills" }}</b></h3>
    <div class="row2 less-margin-top fix-padding">
        <div class="col-md-6">
            <div class="row2 clearfix layout-top-middle">
                <div class="col-xs-12 col-print-12 details">
                    <h4><b>Languages</b></h4>
                </div>
                <div class="col-xs-12 col-print-12">
                    <br>
                    <p class="skills-simple-text">Proficient in:</p>
                    <ul>
                        <li><mark>C#</mark></li>
                        <li><mark>Python</mark></li>
                        <li><mark>Bash</mark></li>
                        <li><mark>SQL</mark></li>
                    </ul>
                    <br>
                    <p class="skills-simple-text">Familiar with:</p>
                    <ul>
                        <li><mark>Java</mark></li>
                        <li><mark>C</mark> <mark>C++</mark></li>
                        <li><mark>PHP</mark> <mark>JavaScript</mark> <mark>TypeScript</mark> <mark>HTML/CSS</mark></li>
                        <li><mark>Lua</mark></li>
                        <li><mark>Assembly</mark></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row2 clearfix layout-top-middle">
                <div class="col-xs-12 col-print-12 details">
                    <h4><b>Game Engines</b></h4>
                </div>
                <div class="col-xs-12 col-print-12">
                    <br>
                    <p class="skills-simple-text">Proficient in:</p>
                    <ul>
                        <li><mark>Unity Engine</mark></li>
                    </ul>
                    <p class="skills-simple-text">Familiar with:</p>
                    <ul>
                        <li><mark>Unreal Engine</mark></li>
                        <li><mark>GoldSrc Engine</mark> <mark>Source Engine</mark></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-print-12 details">
                    <h4><b>AI & LLMs</b></h4>
                </div>
                <div class="col-xs-12 col-print-12">
                    <br>
                    <p class="skills-simple-text">Familiar with:</p>
                    <ul>
                        <li><mark>GPT</mark> <mark>Copilot</mark> <mark>Claude</mark> <mark>Gemini</mark></li>
                        <li><mark>Custom GPTs</mark> <mark>LLaMA</mark></li>
                        <li><mark>Stable Diffusion</mark></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-md-offset-3">
            <div class="col-md-6 projects-separation-top">
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-xs-12 col-print-12">
                <br><br>
                <p>
                    <b>Additional Technical Skills:</b>
                </p>
                <ul>
                    <li>Performance optimization techniques.</li>
                    <li>Anti-cheat development strategies.</li>
                    <li>Reverse engineering using tools such as <b>x64dbg</b>, <b>IDA Pro</b>, <b>ReClass</b>, <b>dnSpy</b></li>
                </ul>
            </div>
        </div>
    </div>
</div>

