.dark {
  background-color: rgb(21, 22, 23);
  color: rgb(204, 199, 193);
}

.dark {
  mark {
    color: rgb(215, 211, 206);
    background-color: rgb(49, 53, 55);
  }

  a {
    color: #477dca;
  }
}

